<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class="mb-14 pb-1">
    <nav class="w-full h-14 bg-sky-950 flex items-center justify-around fixed text-cyan-50">
      <span class="uppercase font-bold">Handlebars</span>
      <ul class="flex items-center justify-between gap-14">
        <li class="border-b-2 pt-2 pb-2 px-4 text-center h-9"><a href="/realtimeproducts">Products</a></li>
        <li class="border-b-2 pt-2 pb-2 px-4 text-center h-9"><a href="/home">Messages</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
</body>
</html>